body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 5%;
    padding-left: 0px;
}

.contact-info {
    flex: 1;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 50px;
}

.form-container {
    flex: 1;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.input-group textarea {
    height: 100px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: #333;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding-right: 30px;
    }

    .header {
        font-size: 20px;
    }

    .contact-info,
    .form-container {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}